.header {
  background: url("https://images.unsplash.com/photo-1586828909684-ea8a07d2531a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .container {
    max-width: 1440px;
    padding: 50px 7vw 50px;
    margin: auto;
    width: 100%;
  }

  .title {
    font-size: 80px;
    font-weight: 900;
    color: white;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 50px;
      text-align: center;
    }
    @media (max-width: 576px) {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
  }
}
