.info {
  .title {
    max-width: 1440px;
    margin: auto;
    padding: 0 7vw;
    text-align: center;
    font-size: 55px;
  }
  .subtitle {
    max-width: 1440px;
    padding: 0 7vw;
    display: block;
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
    text-align: justify;
  }
}
