.wrapper {
  background-color: #121212;
  color: #31373f;
  .container {
    max-width: 1440px;
    margin: auto;
    padding: 50px 7vw;
    display: block;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 900px) {
      padding: 30px 8vw;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .left {
    width: max-content;
  }
  .logo {
    width: 190px;
    height: 64px;
    cursor: pointer;
  }
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    svg {
      color: #ffff;
      transition: 0.1s linear;
      cursor: pointer;
      &:hover {
        color: #f9b026;
      }
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 40px;

    h3 {
      padding-bottom: 5px;
      color: #f9b026;
      width: max-content;
    }
    p {
      padding-top: 10px;
      width: max-content;
    }
  }
}
