.wrapper {
  position: relative;
  pointer-events: stroke;
  transition: all 0.3s;
  .bg {
    width: 100%;
    background-image: url("../../../../assets/images/office.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 500px;
    transition: all 0.3s;

    video {
      width: 100%;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;
      height: 100%;
      object-fit: cover;
    }
    &:hover video {
      opacity: 1;
      visibility: visible;
    }
  }
  h3 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
    border: 1px solid #fff;
    padding: 100px 50px;
    border-radius: 100%;
    transition: 0.2s linear;
    width: max-content;
    @media (max-width: 768px) {
      padding: 80px 30px;
      font-size: 20px;
    }
    @media (max-width: 576px) {
      padding: 50px 15px;
      font-size: 14px;
    }

    &:hover {
      background-color: #fff3;
    }
  }
}
