* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap");

// @font-face {
//   font-family: "Lato"; /*Can be any text*/
//   src: local("Lato-Regular"),
//     url("../../fonts/Lato-Regular.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Lato-bold"; /*Can be any text*/
//   src: local("Lato-Bold"), url("../../fonts/Lato-Bold.ttf") format("truetype");
// }
